@import url('https://fonts.googleapis.com/css2?family=Besley:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
	margin: 0;
    background-color: #fffde7;
}

.box {
    background-color: #f1f5e3;
    box-shadow: inset 0px 0px 20px 0px #92ab92;
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
}

.nav {
    padding: 0;
}

.nav__list {
    display: flex;
    padding: 0;
    justify-content: space-around;
    list-style-type: none;
}

.nav__link {
    text-decoration: none;
    color: black;
}

.nav__item {
    padding: 3px 5px;
}

.nav__item:hover {
    background-color: #88c2c4;
}

header {
    display: flex;
    justify-content: space-around;
}

figure {
    margin: 0;
}

.footer {
    padding: 15px;
}

.footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

hr {
    background-color: #88c2c4;
    height: 1px;
    border: none;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
}

.link:hover {
    background-color: #88c2c4;
}

.header__name {
    font-size: 30px;
}

.contacts ul {
    width: 270px;
}

.contacts ul li span {
    font-size: 40px;
    margin-right: 10px;
}

.contacts ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.contacts ul li a:hover {
    background-color: #88c2c4;
}

.contacts ul li a span {
    font-size: 40px;
    margin-right: 10px;
}

.master {
    display: flex;
    flex-direction: column;
	width: 60%;
	position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-family: 'Besley', serif;
    letter-spacing: 0.5px;
    line-height: 1.5;
    margin-top: 5px;
    margin-bottom: 5px;
}

.master h1, h2 {
	margin-bottom: 0;
}

.master span {
	font-weight: bold;
}

.middle__block {
    display: flex;
}

.middle__block__left {
    flex: 1;
}

.middle__block__right {
    flex: 3;
}

.skills ul {
    padding-left: 20px;
}

.foto {
    border: 1px solid #88c2c4;
    border-radius: 0px 40px 0px 40px;
}

.list ul {
	list-style-type: none;
    padding: 0;
    margin: 0;
}

.list ul li img:hover {
	transform: scale(1.2);
}

.spoiler pre {
    width: 268px;
    margin: 0;
    line-height: 1.2;
    font-size: 12px;
}

.spoiler summary {
    cursor: pointer;
}

.spoiler summary:hover {
    background-color: #88c2c4;
}

.projects ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}