body {
	margin: 0;
}

.master {
	width: 75%;
	position: absolute;
    left: 50%;
    margin-right: -50%; 
    transform: translateX(-50%);
    font-size: 16px;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.master h1, h2 {
	margin-bottom: 0;
}

.master span {
	font-weight: bold;
}

.list ul {
	list-style-type: none;
    padding: 0;
}

.foto {
	float: right;
    margin: 0;
}